<h1>Mensaje de registro de POST</h1>
<h2>REGISTRADO OK</h2>

último post (id): <%= Post.last.id %> <br>
último post (author): <%= Post.last.author %> <br>
último post (content): <%= Post.last.content %>

<br><br>
<%= link_to "Volver a crear post", post_index_path %>